<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Web">
    <test name="Web" preserve-order="true">
        <classes>
            <class name="Tests.TestBaseWeb"/>
            <class name="Tests.TestPurchase"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->